.top {
  height: 80px;
  margin: 40px; }
  .top .top-left {
    width: 50px;
    height: 50px;
    float: left;
    transform: translateY(30%); }
    .top .top-left .profile-photo {
      border: 2px solid #DDD;
      border-radius: 25px;
      width: 50px; }
      .top .top-left .profile-photo:hover {
        cursor: pointer; }
  .top .top-right {
    float: right;
    transform: translateY(40%); }
    .top .top-right .menu {
      display: flex; }
      .top .top-right .menu li {
        padding: 10px;
        list-style-type: none; }
        @media screen and (max-width: 600px) {
          .top .top-right .menu li {
            font-size: 2em; } }
        .top .top-right .menu li:hover {
          cursor: pointer;
          background-color: gray; }
        .top .top-right .menu li a {
          color: black; }

.jumbotron {
  text-align: center; }
  .jumbotron h1 {
    font-family: 'Sahitya', serif; }

.trigger-enter .dropdown {
  display: block; }

.dropdown {
  overflow: hidden;
  position: absolute;
  transform: translateX(-50%);
  display: none; }

.about-me {
  text-align: center;
  padding: 50px; }
  .about-me h2 {
    font-weight: 400; }

.skills {
  margin: 40px;
  text-align: center; }
  .skills h2 {
    font-weight: 400; }
  .skills .skill-wrapper {
    margin-top: 20px; }
    .skills .skill-wrapper .skill {
      padding: 5px 5px 5px 5px;
      background-color: #eee; }
      .skills .skill-wrapper .skill h3 {
        font-weight: 400; }
      .skills .skill-wrapper .skill .skill-icon {
        margin: 22px 0; }
        .skills .skill-wrapper .skill .skill-icon img {
          width: 50%; }
      .skills .skill-wrapper .skill ul {
        text-align: left; }
        .skills .skill-wrapper .skill ul li {
          list-style-type: none;
          font-family: Lato, 'Helvetica Neue', 'Helvetica', sans-serif;
          font-weight: 300;
          font-size: 1.7rem; }
          @media screen and (max-width: 600px) {
            .skills .skill-wrapper .skill ul li {
              font-size: 3em; } }

.work {
  margin-top: 70px;
  text-align: center; }
  .work h2 {
    font-weight: 400; }
  .work .container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #eee; }
    .work .container .shot {
      margin-top: 50px;
      text-align: center; }
      .work .container .shot .portfolio-image {
        width: 350px;
        height: auto; }
    .work .container .shot-info {
      text-align: center;
      padding-left: 3.5em;
      padding-right: 3.5em;
      margin-bottom: 50px; }
      .work .container .shot-info .project-button {
        display: inline-block;
        background-color: #374760;
        color: white;
        font-size: 20px;
        transition: 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        border-radius: 4px;
        height: 36px;
        width: 18em;
        cursor: pointer; }
        .work .container .shot-info .project-button:hover {
          background-color: #242f40; }

a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 1.4em; }
  a:hover {
    text-decoration: none;
    cursor: pointer; }
  a:target {
    transition: 1.2s ease-in; }

p {
  font-family: Lato, 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 1.6em; }
  @media screen and (max-width: 600px) {
    p {
      font-size: 3em; } }

footer {
  width: 100%;
  height: 290px; }
  footer .site-detail {
    padding: 130px 50px 20px 50px;
    height: 260px;
    text-align: center; }
    footer .site-detail ul {
      text-align: center;
      height: 50px; }
      footer .site-detail ul li {
        display: inline-block;
        height: inherit;
        width: 50px;
        border: 2px solid white;
        margin: 0 20px; }
        footer .site-detail ul li:hover {
          transition: 0.3s ease-in;
          border-bottom-color: blue; }
        footer .site-detail ul li .icon-social {
          height: 50px;
          width: 50px;
          margin: 0 30px; }
    footer .site-detail p {
      font-size: 1.8077rem; }

/*# sourceMappingURL=styles.css.map */
